{% extends "base.html" %}
{% block title %}Climb{% endblock %}
{% block header %}
<h2>{{ route.location }} / {{ route.grade }}</h2>
{% endblock %}

{% block content %}
<b>Grade:</b> {{ route.grade }}<br/>
<b>Location:</b> {{ route.location }}<br/>
<b>Added by:</b> <a href="/user/{{ route.user_id }}">{{ route.username }}</a> <br/>
<b>Time:</b> {{ route.time.strftime("%d-%m-%Y") }} <br>

<!-- image is given as a base64 string -->
{% if image %}
<img src="data:image/{{ image_info.mimetype }};base64, {{ image }}" alt="{{ image_info.name }}" width="350">
{% endif %}

<hr>
<h3>Comments</h3>
{% for comment in contents %}
<b>comment:</b> {{ comment.content }}<br>
<b>sent by:</b> <a href="/user/{{ route.user_id }}">{{ comment.username }}</a>
<b>time:</b> {{ comment.time.strftime("%H:%M, %d-%m-%Y") }}

{% if comment.user_id == session.user_id %}
<form action="/delete/comment/{{ comment.id }}" method="POST" onsubmit="return confirm('Are you sure you want to delete this comment?');">
    <button type="submit" class="btn btn-danger">Delete</button>
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>
{% endif %}
<hr>

{% endfor %}
{% endblock %}

{% block side %}
<br>
<form action="/comment/{{ route.id }}" method="POST">
    <label for="content" class="form-label">Comment:</label>
    <textarea name="content" rows="6" cols="40" class="form-control"></textarea>
    <button type="submit" class="btn btn-primary">Comment</button>
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>
{% endblock %}