
<h2>{{ route.id }}</h2>
<hr>
<b>grade:</b> {{ route.grade }}<br/>
<b>location:</b> {{ route.location }}<br/>
<b>user:</b> <a href="/user/{{ route.user_id }}">{{ route.username }}</a> <br/>
<b>added:</b> {{ route.time.strftime("%d-%m-%Y") }}
<hr>
<a href="/">go back</a>
<h3>comments</h3>
<form action="/comment/{{ route.id }}" method="POST">
add a comment: <br>
<textarea name="content" rows="3" cols="40"></textarea><br>
<input type="submit" value="comment">
</form><br>
<hr>
{% for comment in contents %}
<b>comment:</b> {{ comment.content }}<br>
<b>sent by:</b> <a href="/user/{{ route.user_id }}">{{ comment.username }}</a>
<b>time:</b> {{ comment.time.strftime("%H:%M, %d-%m-%Y") }}
<hr>
{% endfor %}