<h2>all climbs</h2>
{% if count != 0 %}
<p>number of routes added: {{ count }}</p>
{% for route in routes %}
<a href="/climb/{{ route.id }}">go to route</a><br/>
<b>grade:</b> {{ route.grade }}<br/>
<b>location:</b> {{ route.location }}<br/>
<b>added by:</b><a href="/user/{{ route.user_id }}">{{ route.username }}</a> <br/>
<b>time:</b> {{ route.time.strftime("%M:%H, %d-%m-%Y") }}
<hr>
{% endfor %}
{% else %}
<p>no routes added yet</p>
{% endif %}
<a href="/new">create new route</a><br>
{% if session.user_id  %}
<p>logged in as {{ session.username }}</p>
<a href="/user/{{ session.user_id }}">your page</a> // <a href="/logout">logout</a>
{% else %}
<a href="/login">login</a>
{% endif %}