<h2>new route</h2>
<form action="/create" method="POST">
Grade:<br>
<textarea name="grade" rows="1" cols="40"></textarea><br>
Location:<br>
<textarea name="location" rows="1" cols="40"></textarea>
<br>
indoor/outdoor:
<select name="indoor" id="indoor">
    <option value="indoor">indoor</option>
    <option value="outdoor">outdoor</option>
</select><br>
flash:
<select name="flash" id="flash">
    <option value="False">no</option>
    <option value="True">yes</option>
</select><br>
<br>
<input type="submit" value="submit">
</form>