{% extends "base.html" %}
{% block title %}Register{% endblock %}
{% block header %}<h2>Register</h2>{% endblock %}
{% block content %}
<form action="/register" method="POST">
    <div class="mb-3">
        <label for="username" class="form-label">Username:</label>
        <input type="text" name="username" class="form-control">
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Password:</label>
        <input type="password" name="password" class="form-control">
    </div>
    <div class="mb-3">
        <label for="password2" class="form-label">Password again:</label>
        <input type="password" name="password2" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
</form>
{% endblock %}