{% extends "base.html" %}
{% block title %}Search{% endblock %}
{% block header %}<h2>Results</h2>{% endblock %}

{% block content %}
<p>{{ count }} result(s) found</p>

{% if users %}
<h3>Users found: </h3>
{% for user in users %}
<a href="/user/{{ user.id }}">{{ user.username }}</a><br/>
<b>Number of routes added: </b>{{ user.route_count }}
<hr>
{% endfor %}
{% endif %}

{% if routes %}
<h3>Routes found: </h3>
{% for route in routes %}
<a href="/climb/{{ route.id }}">Go to route</a><br/>
<b>Grade:</b> {{ route.grade }}<br/>
<b>Location:</b> {{ route.location }} 
{% if route.indoor %} (indoor) {% else %} (outdoor) {% endif %} <br/>
<b>Added by:</b> <a href="/user/{{ route.user_id }}">{{ route.username }}</a> <br/>
<b>Time:</b> {{ route.time.strftime("%H:%M, %d-%m-%Y") }}
<hr>
{% endfor %}
{% endif %}

{% endblock %}